*{
    margin: 0;    
    padding: 0;
    font-family: sans-serif;
    }
    body{
    background-image: url(images/contact1.jpg);
    size: initial;
    opacity: 0.7;    
    }
    
    .my-nav{
    background-color: silver;    
    }
    
    
    
    .navbar{
    width: 100%;
    }
    
    
    .navbar-brand{
    padding-right: 55px;
    padding-left: 3px;
    font-style: italic;
    }
    
    
    .logo{
    margin-left: 70px;
    margin-top: -7px;   
    }
    
    .navbar-nav{
    margin-left: 10px;    
    
    }
    .navbar li:hover{
    background-color: #3f51b5; 
    position: relative;   
    }
    
    .nav-item{
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 18px;    
    }
    .dropdown-menu{
    margin-top: 10px !important;
    background-color: whitesmoke !important;
      
    }
    .dropdown-menu a:hover{
    background-color: #3f51b5 !important;
    border-radius: 10px;
        
    }
    
    .icons{
    margin-right: 15px;
    padding-left: 20px;    
    }
    

    .center4{
    border: 7px solid #3f51b5;
    margin-top: 70px;
    margin-bottom: 70px;    
    margin-right: 65px;
    margin-left: 65px;
    color: #3f51b5;
    text-align: center;
   border-radius: 7px;
    max-width: 100%;
}


    .list-group{
     text-align: justify;
     color: #3f51b5;
    }
     .list-group-item{
     opacity: 0.8;
     }
   
     i{  
    padding: 8px;
    }
    .fom{
     border: 3px solid blue;
     margin-top: 10px;
     margin-left: 65px; 
     margin-right: 65px;
     margin-bottom: 65px;
     padding-left: 10px; 
    }
    
    input[type="text"]{
    display: block;
    margin: 10px; 
    width: 50%;
        }
    
   .last{
    text-align: center;
    color: blue;   
    font-weight: bold; 
  }
   .button2{
    width: 100px;
    border: 2px solid #3f51b5;
    margin-left: 50px;
    margin-bottom: 10px;   
   }

   .footer-bottom{
    text-align: center;
    background-color:  #3f51b5;
    display: flex;  
    justify-content: space-around;
     
  }
    .icon1{
    display: flex;
    color: white;
    
    }
  .footer-bottom p{
  padding-top: 20px;  
  }
  
  .fa{
     padding: 20px; 
    }